<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container justify-content-center">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/wykres" routerLinkActive="active"
          >Wykres</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dane" routerLinkActive="active"
          >Wynagrodzenia</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inne" routerLinkActive="active"
          >Ceny produktów</a
        >
      </li>
    </ul>

    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn-login" type="submit">Logowanie</button>
    </form>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light" dropdownToggle
        >Witaj, {{ user.userName }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
