<!--<div class="d-flex justify-content-center mb-5">
  <button class="btn btn-info mr-5" (click)="toJson()">
    Konwertuj do pliku Json
  </button>
  <button class="btn btn-info" (click)="toXML()">Konwertuj do pliku XML</button>
</div>

<div class="container graph1 display-4 mb-5">Wykres średnich wynagrodzeń</div>
<div class="container graph1"><app-chart></app-chart></div>
<div class="container napis display-4">Wykres średnich cen produktów</div>
<div class="container graph2"><app-chart2></app-chart2></div>
-->
<div class="container">
  <div class="d-flex justify-content-center mb-5">
    <button class="btn btn-info mr-5" (click)="toJson()">
      Konwertuj do pliku Json
    </button>
    <button class="btn btn-info" (click)="toXML()">
      Konwertuj do pliku XML
    </button>
  </div>

  <div class="display-4 d-flex justify-content-center mb-5">
    Wykres średnich wynagrodzeń
  </div>
  <div class="graph1"><app-chart></app-chart></div>
  <div class="d-flex justify-content-center display-4">
    Wykres średnich cen produktów
  </div>
  <div class="graph2"><app-chart2></app-chart2></div>
</div>
